.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .question-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: 50vw;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .question-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .question-number {
    font-size: 18px;
    font-weight: bold;
  }
  
  .timer {
    font-size: 18px;
    font-weight: bold;
    color: red;
  }
  
  .question-text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns, equally spaced */
    gap: 10px; /* Space between grid items */
    margin-top: 10px;
  }
  @media (max-width: 600px) {
    .options-container {
      grid-template-columns: 1fr; /* Single column for mobile screens */
    }
  }
  
  .quiz-option-box {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    width:16vw;
    height:8vh;
    margin: 5px;
    flex: 1 1 45%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  @media (max-width: 600px) {
    .quiz-option-box {
      width:40vw;
      height:8vh;
    }
  }
  
  .quiz-option-box:hover {
    background-color: #c0c0c0;
  }
  
  .next-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
  }
  
  .next-button:hover {
    background-color: #45a049;
  }
  .submit-button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
  }
  .submit-button:hover {
    background-color: #45a049;
  }
  .quiz-option-box.active {
    border: 2px solid blue; /* Change the border color to indicate the active option */
   
    /* A light blue background to highlight the selection */
  }
  .quiz-option-box.disabled {
    pointer-events: none;
    opacity: 0.5;
    background-color: #ccc; /* or any color you want for the disabled state */
  }
  .option-content {
    display: flex;
    align-items: center;
  }
  
  .option-image {
    max-width: 80px; /* Adjust as needed */
    margin-right: 10px; /* Adjust spacing between image and text */
  }
  
  .option-text {
    font-size: 14px; /* Adjust as needed */
  }
  .image-box{
    width:220px;
    height:60px
   
  }
  
  .quiz-completion-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .trophy-icon {
    width: 280px;
    height: auto;
    margin: 20px 0;
  }
  
  .score {
    font-size: 24px;
    font-weight: bold;
    color: green;
  }
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
  }
  .modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .modal-content p {
    font-size: 18px;
    color: #333;
  }
  